<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{action}} medicamento o inyectable</h4>
</div>
<div class="modal-body">
    <form #injectableForm="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre de injectables o medicamento</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="injectable.name" required>
        </div>
        <div class="mb-3">
            <label for="regDt">Fecha de aplicación</label>
            <div class="input-group">
                <input id="regDt" class="form-control" type="date" name="regDt" [(ngModel)]="injectable.regDt" required>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="actionInjectable(injectableForm)">{{btn}}</button>
</div>