<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nueva cita</h4>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="record" class="form-label">Paciente</label>
            <input type="text" class="form-control" id="record">
        </div>
        <div class="mb-3">
            <label for="start">Fecha de inicio</label>
            <div class="input-group">
                <input id="start" class="form-control" type="datetime-local">
            </div>
        </div>
        <div class="mb-3">
            <label for="end">Fecha de fin</label>
            <div class="input-group">
                <input id="end" class="form-control" type="datetime-local">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark">Agregar</button>
</div>