<h3>Lista de propietarios</h3>
<br>
<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-md float-end" routerLink="/owner-new">Nuevo propietario</button>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>No.</th>
                <th>Nombre(s)</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of owners">
                <td>{{owner.id}}</td>
                <td>{{owner.firstname}} {{owner.lastnameF}} {{owner.lastnameM}}</td>
                <td>{{owner.email}}</td>
                <td>{{owner.telephone}}</td>
                <td>{{owner.address}}</td>
                <td>
                    <button type="button" class="btn btn-primary me-1" title="Consultar paciente" [routerLink]="['/owners', owner.id]"><span class="btn-label"><i class="bi bi-search"></i></span></button>
                    <button type="button" class="btn btn-success me-1" title="Editar paciente" [routerLink]="['/owner-edit', owner.id]"><span class="btn-label"><i class="bi bi-pencil-square"></i></span></button>
                    <button type="button" class="btn btn-danger" title="Borrar paciente" (click)="deleteOwner(owner.id)"><span class="btn-label"><i class="bi bi-trash3"></i></span></button>     
                </td>
            </tr>
        </tbody>
    </table>
</div>