<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{action}} examen</h4>
</div>
<div class="modal-body">
    <form #examForm="ngForm">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre del examen</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="exam.name" required>
        </div>
        <div class="mb-3">
            <label for="start">Fecha de aplicación</label>
            <div class="input-group">
                <input id="regDt" class="form-control" type="date" name="regDt" [(ngModel)]="exam.regDt" required>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="actionExam(examForm)">{{btn}}</button>
</div>