<link href="https://unpkg.com/angular-calendar@0.30.1/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.6.13/dist/flatpickr.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto px-0">
          <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 min-vh-100">
            <app-sidebar></app-sidebar>
          </div>
      </div>
      <div class="col-11 py-3">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
