<div class="row">
    <div class="col-12">
        <form #vaccineForm="ngForm" (ngSubmit)="onSubmit()">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Edad</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Distemper</th>
                        <th scope="col">Hepatitis (CAV-2)</th>
                        <th scope="col">Parainfluenza</th>
                        <th scope="col">Leptospirosis</th>
                        <th scope="col">Parvovirus</th>
                        <th scope="col">Bordetella</th>
                        <th scope="col">Giardia</th>
                        <th scope="col">Rabia</th>
                        <th scope="col" *ngIf="readOnly!=true"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vaccine of generalVaccines; let i = index">
                        <td>
                            {{vaccine.yearsOld}} {{vaccine.unit}}
                        <td>
                            <input id="date{{i}}" class="form-control" type="date" name="date" value="{{vaccine.date}}" readonly disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly checked="{{vaccine.vac1}}" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac2" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac3" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac4" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac5" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac6" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac7" disabled>
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" readonly [checked]="vaccine.vac8" disabled>
                        </td>
                        <td *ngIf="readOnly!=true">
                            <span class="cal-event-actions ng-star-inserted">
                                <a tabindex="0" role="button" class="cal-event-action ng-star-inserted"><i class="bi bi-pencil"></i></a>
                              </span>
                              &nbsp;
                              <span class="cal-event-actions ng-star-inserted">
                                <a tabindex="0" role="button" class="cal-event-action ng-star-inserted" (click)="deleteVaccine(vaccine.id!)"><i class="bi bi-trash"></i></a>
                              </span>
                        </td>
                    </tr>
                    <tr *ngIf="readOnly!=true">
                        <td>
                            <input type="number" class="form-control" id="yearsOld" name="yearsOld" [(ngModel)]="lineVaccine.yearsOld">
                            <select class="form-select" [(ngModel)]="lineVaccine.unit" name="unit" id="unit">
                                <option selected value="meses">meses</option>
                                <option value="annos">años</option>
                              </select>
                        <td>
                            <input id="date" name="date" class="form-control" type="date" [(ngModel)]="lineVaccine.date">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac1" name="vac1" [(ngModel)]="lineVaccine.vac1">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac2" name="vac2" [(ngModel)]="lineVaccine.vac2">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac3" name="vac3" [(ngModel)]="lineVaccine.vac3">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac4" name="vac4" [(ngModel)]="lineVaccine.vac4">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac5" name="vac5" [(ngModel)]="lineVaccine.vac5">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac6" name="vac6" [(ngModel)]="lineVaccine.vac6">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac7" name="vac7" [(ngModel)]="lineVaccine.vac7">
                        </td>
                        <td>
                            <input class="form-check-input" type="checkbox" id="vac8" name="vac8" [(ngModel)]="lineVaccine.vac8">
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button" type="submit">Agregar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>